<%= form_for @webpage, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Webpage</legend>

    <div class="control-group">
      <%= f.label :pagename, :class => 'control-label' %>
      <div class="controls">
	<%= f.text_field :pagename, :class => 'text_field span6' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "HTML", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :html, :class => 'text_area span6' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', webpages_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
