<!--This is part of CoderDojo Code -->
<!--===========================================-->
<p id="notice"><%= notice %></p>

<p>
<b>Pagename:</b>
<%= @webpage.pagename %>
</p>

<%= link_to "Home", "/" %> |
<%= link_to "Edit this Page", edit_webpage_path(@webpage) %> |
<%= link_to "Go Back", webpages_path %>
<p>The HTML You Added Creates The Following Page:</p>
<hr />
<!--===========================================-->
<!--Everything below this part is your own HTML -->

<%= raw @webpage.html %>

