<!--This is part of CoderDojo Code -->
<!--===========================================-->
<p id="notice"><%= notice %></p>

<p>
  <b>Pagename:</b>
  <%= @webpage.pagename %>
</p>

<%= link_to 'Edit', edit_webpage_path(@webpage) %> |
<%= link_to 'Back', webpages_path %>
<p>The HTML You Added Creates The Following Page:</p>
<hr />
<!--===========================================-->
<!--Everything below this part is your own HTML -->

<%= raw @webpage.html %>


